<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        font-size: 16px;
      }
      footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
      }
      footer p {
        margin: 0;
        text-align: center;
      }
      footer a {
        color: #fff;
        text-decoration: none;
      }
      footer a:hover {
        color: #ccc;
      }
    </style>
  </head>
  <body>
    <!-- website content here -->
    <footer>
      <div class="container">
        <p>&copy; <script>document.write(new Date().getFullYear())</script> Developed By Abhi</p>
      </div>
    </footer>
  </body>
</html>
